<div class="row">
  <div class="span6 offset3">
    <table class="table table-bordered" id="examination-list">
      <thead>
        <tr>
          <th>model</th>
          <th>file</th>
          <th>import</th>
          <th>export</th>
        </tr>
      </thead>
      <tbody>
        <% @models.each do |model| %>
          <tr>
            <td><%= model %></td>
            <%= form_tag admin_import_path, multipart: true do %>
             <td><%= file_field_tag :file %></td>
             <%= hidden_field_tag :model, model %>
             <td><%= submit_tag "Import", class: "btn btn-primary" %></td>
           <% end %>
            <td><%= link_to "Export", "/admin/export.csv?model=#{model}", class: "btn btn-primary" %></td>
           
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>