<%= form_for [:admin, @project] do |f| %>

 <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :shortname %><br>
    <%= f.text_field :shortname %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.text_field :end_date %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.text_field :team_id %>
  </div>
  <div class="field">
    <%= f.label :project_leader %><br>
    <%= f.text_field :project_leader %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>