<%= form_for [:admin, @team] do |f| %>

 <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
   <%= f.label :description %><br>
   <%= f.text_field :description %>
  </div>
  <div class="field">
   <%= f.label :teamleader %>
   <%= f.text_field :teamleader %><br>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>